<% if (theme.license && theme.license.enable && !page.nolicense) { %>
    <div class="post-license">
        <div class="post-license-container">
            <a class="post-license-logo" href="<%- url_for(theme.license.url) %>">
                <img src="<%- url_for(theme.license.logo_url) %>" alt="<%- theme.license.name %>"/>
            </a>
            <div>
                <p>
                    <%- __('license.text') %>
                        <a href="<%- url_for(theme.license.url) %>"><%- theme.license.name %></a>
                </p>
            </div>
        </div>
        <p>
            <%- __('license.permalink') %>: 
                <a href="<%- url_for(page.path) %>"><%- config.url + url_for(page.path) %></a>
        </p>
    </div>
<% } %>